{% extends "modelo.html" %}

{% block conteudo %}
<h1>Bem vindo ao <span class="Codepythonspan">Pythoncode</span></h1>
<p class="text-introduction">
    Aqui você dará os primeiros passos em uma jornada de aprendizado envolvente e acessível sobre programação com a linguagem Python.
</p>
<p class="text-introduction">
    Nosso objetivo é proporcionar a você uma base sólida, mesmo que nunca tenha tido contato com o mundo da tecnologia.
</p>
<p class="text-introduction">
    Python é uma das linguagens mais populares e versáteis da atualidade, ocupando consistentemente o topo dos rankings das linguagens mais utilizadas por desenvolvedores, cientistas de dados e empresas ao redor do mundo.
</p>
<p class="text-introduction">
    Mas mais do que ensinar códigos e comandos, queremos abrir portas. Acreditamos que entender o básico da programação, especialmente de uma linguagem como Python, é uma habilidade essencial para o século XXI.
</p>
<p class="text-introduction">
    Mesmo que você não pretenda seguir carreira na computação, o domínio de conceitos fundamentais pode ampliar sua visão, estimular seu raciocínio lógico e até criar novas oportunidades profissionais.
</p>
<p class="text-introduction">
    O Pythoncode foi pensado para ser um ambiente acolhedor, intuitivo e prático. A cada etapa, você será guiado com explicações claras e exemplos reais que facilitarão sua compreensão.
</p>
<p class="text-introduction">
    Não se preocupe se errar ou se sentir perdido no começo — aprender programação é como aprender uma nova linguagem: exige prática, paciência e curiosidade.
</p>
<p class="text-introduction">
    Nossa sessão de aprendizado foi separada em diferentes níveis de explicação para o conteúdo, com o objetivo de abordar a linguagem Python da forma mais clara possível para diferentes faixas etárias.
</p>
<p class="text-introduction">
    Nosso convite é simples: explore, pergunte, experimente. O conhecimento é a chave para transformar ideias em realidade, e aqui no CodePython, você está no lugar certo para começar.
</p>


<H2>Topa entrar <span class="Codepythonspan">nessa</span> com a gente?</H2>
<p class="text-introduction">Aqui você pode checar um pouco mais acerca da equipe responsável pelo desenvolvimento desse projeto tão legal! Também, pode acessar nossa IA </p>

    <div class="links">
        <a class='linkindex' href="/sobre-equipe">Sobre a equipe</a>
        <a class='linkindex' href="/ia">Acesse a IA</a>
    </div>
{% endblock %}