{% extends  "modelo.html" %}

{% block conteudo %}
<div class="introduction-sobre">
<h1>Nossa Equipe <span class="Codepythonspan">Fera</span></h1>
</div>

   <div class="container team-container">
        <article class="team-member">
            <article class="team-member-avatar">
                <img src="static/gabriel.jpg" alt="">
            </article>
            <div class="team-member-info">
                <h4>Gabriel Gonçalves</h4>
                <p>Aluno da UNIESP</p>
                <p>Futuro Profissional de Tecnologia</p>

            </div>
            <div class="team-member-socials">
                <a class="social-link" href="https://www.instagram.com/g_mnzes?igsh=MXM3Ym95dW1xM3BmMg==" target="_blank"><i class="fab fa-instagram"></i></a>
                <a class="social-link" href="https://github.com/Gabriel-Amorim-dev" target="_blank"><i class="fab fa-github"></i></a>
            </div>
        </article>
         <article class="team-member">
            <article class="team-member-avatar">
                <img src="static/denise.jpg" alt="">
            </article>
            <div class="team-member-info">
                <h4>Denise Virgilio</h4>
                <p>Aluno da UNIESP</p>
                <p>Futuro Profissional de Tecnologia</p>
            </div>
            <div class="team-member-socials">
                <a class="social-link" href="https://www.instagram.com/denisevirgilio_?igsh=MXVmZXE2ODA2YzZxeQ==" target="_blank"><i class="fab fa-instagram"></i></a>
                <a class="social-link" href="https://github.com/denisevirgilio" target="_blank"><i class="fab fa-github"></i></a>
            </div>
        </article>
       <article class="team-member">
            <article class="team-member-avatar">
                <img src="static/guilherme.jpg" alt="">
            </article>
            <div class="team-member-info">
                <h4>Guilherme Rodrigues</h4>
                <p>Aluno da UNIESP</p>
                <p>Futuro Profissional de Tecnologia</p>
            </div>
            <div class="team-member-socials">
                <a class="social-link" href="https://www.instagram.com/guiguiba23/?igsh=M2x1b2JvcGNlZmc3#" target="_blank"><i class="fab fa-instagram"></i></a>
                <a class="social-link" href="https://github.com/GuiGuiBa23" target="_blank"><i class="fab fa-github"></i></a>
            </div>
        </article>
        <article class="team-member">
            <article class="team-member-avatar">
                <img src="static/suedsson.jpg" alt="">
            </article>
            <div class="team-member-info">
                <h4>Suedsonn</h4>
                <p>Aluno da UNIESP</p>
                <p>Futuro Profissional de Tecnologia</p>

            </div>
            <div class="team-member-socials">
                <a class="social-link" href="https://www.instagram.com/suedsonn?igsh=c2t4bzR2MDR4ZzJm target="_blank"><i class="fab fa-instagram"></i></a>
                <a class="social-link" href="https://github.com/suedsonn" target="_blank"><i class="fab fa-github"></i></a>
            </div>
        </article>
   </div>
{% endblock %}
